body {
  font-family: Arial, sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.image {
  height: 300px;
  width: 200px;
  margin: 20px;
  border: 3px solid #333;
  background-size: cover;
  cursor: grab;
}

/* Each div has a different background image */
#div1 {
  background-image: url("https://picsum.photos/id/237/200/300");
}

#div2 {
  background-image: url("https://picsum.photos/seed/picsum/200/300");
}

#div3 {
  background-image: url("https://picsum.photos/200/300?grayscale");
}

#div4 {
  background-image: url("https://picsum.photos/200/300/");
}

#div5 {
  background-image: url("https://picsum.photos/200/300.jpg");
}

#div6 {
  background-image: url("https://picsum.photos/id/102/200/300");
}

.selected {
  border: 5px solid rgb(0, 195, 255);
}
